-e git+https://github.com/trmttm/fmCalculator@2764d011ef470c83e42a03e0e522e77b6abc11fd#egg=fm_calculator
-e git+https://github.com/trmttm/fmIDE@ef34d2860bd7f8b368fdc1247e6db45f6ee1d464#egg=fmIDE
-e git+https://github.com/trmttm/Interface@dacd10fa449d61a5869a7d2f432b44f8ca717362#egg=interface
-e git+https://github.com/trmttm/KeyboardShortcut@afa66332b33b6dff38119f867801e37e4a0a96a4#egg=keyboard_shortcut
-e git+https://github.com/trmttm/controller_mouse@8691284c36fd2966154871f1a82b2f84bd15aaec#egg=mouse
-e git+https://github.com/trmttm/osIdentifier@a799a4ff4b4b1e83d4a477569fda936f112b1515#egg=os_identifier
-e git+https://github.com/trmttm/RPE@5899b478b93828acae3fea822fc6d7d2f367889b#egg=rpe_to_normal
-e git+https://github.com/trmttm/Spreadsheet@23b61bcbdb58677b537d50b780abd8a105e6b896#egg=spreadsheet
-e git+https://github.com/trmttm/ViewTkinter@016dadf90f531236ec047fc831e4db8ed0a8e146#egg=view_tkinter
XlsxWriter==3.0.2
